<!-- Modal Đổi Tên -->
<div class="modal fade" id="changeFullnameModal" tabindex="-1" aria-labelledby="changeFullnameModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="changeFullnameModalTitle" class="modal-title">Đổi Tên</h4>
                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="newFullName">Họ và tên mới</label>
                    <input type="text" class="form-control" id="newFullName" placeholder="Nhập họ và tên mới" required>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-white mr-2" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary" id="saveName">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>