<div class="modal fade" id="editManagerModal" tabindex="-1" aria-labelledby="editUserModalTitle" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="editUserModalTitle" class="modal-title">Chỉnh Sửa Quản Lý</h4>
                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <div class="modal-body nav-mobile-mode-on">
                <div class="tab-content" id="editUserModalTabContent">
                    <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <form id="profileForm">
                            <div class="profile-cover">
                                <div class="profile-cover-img-wrapper">
                                    <img id="editProfileCoverImgModal" class="profile-cover-img"
                                        src="/assets/img/1920x400/img1.jpg" alt="Mô tả hình ảnh">
                                    <div class="profile-cover-content profile-cover-btn p-3">
                                        <div class="custom-file-btn"></div>
                                    </div>
                                </div>
                            </div>
                            <label
                                class="avatar avatar-xxl avatar-circle avatar-border-lg avatar-uploader profile-cover-avatar mb-5"
                                for="editAvatarUploaderModal">
                                <img id="editAvatarImgModal" class="avatar-img rounded-circle"
                                    src="/assets/img/160x160/img9.jpg" alt="Mô tả hình ảnh">
                                <div id="editAvatarTextModal"
                                    class="avatar-text justify-content-center align-items-center rounded-circle"
                                    style="display: none; width: 121px; height: 120px; font-size: 2em; font-weight: bold; background-color: #f0f0f0; color: #555;">
                                </div>
                                <input type="file" class="js-file-attach avatar-uploader-input"
                                    id="editAvatarUploaderModal"
                                    data-hs-file-attach-options="{'textTarget': '#editAvatarImgModal','mode': 'image','targetAttr': 'src','allowTypes': ['.png', '.jpeg', '.jpg']}">
                                <span class="avatar-uploader-trigger">
                                    <i class="tio-edit avatar-uploader-icon shadow-soft"></i>
                                </span>

                            </label>
                            <div class="row form-group">
                                <label for="editFullnameModalLabel" class="col-sm-3 col-form-label input-label">Họ và
                                    tên</label>
                                <div class="col-sm-9">
                                    <div class="js-form-message">
                                        <input type="text" class="form-control" name="editPhoneModal" id="editFullName"
                                            placeholder="Nhập họ và tên" required aria-label="Họ và tên" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="editPhoneModalLabel" class="col-sm-3 col-form-label input-label">Số điện
                                    thoại</label>
                                <div class="col-sm-9">
                                    <div class="js-form-message">
                                        <input type="tel" class="form-control" name="editPhoneModal" id="editPhoneModal"
                                            placeholder="Nhập số điện thoại" required
                                            pattern="^(\\+84|84|0)(3|5|7|8|9|1[2689])[0-9]{8}$"
                                            aria-label="Số điện thoại">
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="editBioModalLabel" class="col-sm-3 col-form-label input-label">Tiểu
                                    sử</label>
                                <div class="col-sm-9">
                                    <div class="js-form-message">
                                        <input class="form-control" name="editBioModal" id="editBioModalLabel"
                                            placeholder="Nhập tiểu sử" aria-label="Tiểu sử" rows="3">
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="editBirthDayModalLabel" class="col-sm-3 col-form-label input-label">Ngày
                                    sinh</label>
                                <div class="col-sm-9">
                                    <div class="js-form-message">
                                        <input type="date" class="form-control" name="editBirthDayModal"
                                            id="editBirthDayModalLabel" placeholder="Nhập ngày sinh"
                                            aria-label="Ngày sinh">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-white mr-2" data-bs-dismiss="modal"
                                    aria-label="Close">Hủy</button>
                                <button id="submit" class="btn btn-primary" type="submit">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>