<div class="modal fade" id="deleteTravelPlanModal" tabindex="-1" aria-labelledby="deleteTravelPlanModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="deleteTravelPlanModalLabel" class="modal-title">Xác Nhận Xóa Kế Hoạch Du Lịch</h5>
                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal"
                    aria-label="Đóng">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa kế hoạch du lịch này không? Hành động này sẽ không thể phục hồi.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" id="confirmDeleteTravelPlan" class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>