<div class="modal fade" id="openPostModal" tabindex="-1" aria-labelledby="openPostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="openPostModalLabel">Mở Khóa Bài Viết</h5>
                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal" aria-label="Đóng">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn mở khóa bài viết này không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmOpen">Mở Khóa</button>
            </div>
        </div>
    </div>
</div>
