<div class="modal fade" id="postDetailModal" tabindex="-1" aria-labelledby="postDetailModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="postDetailModalTitle" class="modal-title">Chi tiết bài viết</h4>
                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal" aria-label="Đóng">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>

            <div class="modal-body">
                <div class="tab-content" id="postDetailModalTabContent">
                    <div class="tab-pane fade active show" id="details" role="tabpanel" aria-labelledby="details-tab">
                        <div class="text-center mb-5" id="mediaContainer">
                            <img src="https://travle-be.s3.ap-southeast-2.amazonaws.com/star.png" class="img-fluid rounded" alt="Post Media" style="max-width: 200px; height: auto;">
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label font-weight-bold">Họ tên</label>
                            <div class="col-sm-9">
                                <span id="postFullnameDetails" class="form-control-plaintext">ADMIN</span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label font-weight-bold">Nội dung</label>
                            <div class="col-sm-9">
                                <span id="postContentDetails" class="form-control-plaintext">Paris đẹp quá mn</span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label font-weight-bold">Thời gian tạo</label>
                            <div class="col-sm-9">
                                <span id="postCreatedTimeDetails" class="form-control-plaintext">2024-12-12 16:33:21</span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label font-weight-bold">Vị trí</label>
                            <div class="col-sm-9">
                                <span id="postLocationDetails" class="form-control-plaintext">Tân tiến, Vĩnh Tường, Vĩnh Phúc</span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label font-weight-bold">Trạng thái</label>
                            <div class="col-sm-9">
                                <span id="postStatusDetails" class="form-control-plaintext">Công khai</span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label font-weight-bold">Phản hồi</label>
                            <div class="col-sm-9">
                                <span id="postReactionCountDetails" class="form-control-plaintext">0</span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label font-weight-bold">Bình luận</label>
                            <div class="col-sm-9">
                                <span id="postCommentCountDetails" class="form-control-plaintext">0</span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label font-weight-bold">Hashtags</label>
                            <div class="col-sm-9">
                                <div id="postHashtagsDetails" class="form-control-plaintext"></div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Đóng">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
