<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quản lý nhân viên</title>
    <link rel="stylesheet" th:href="@{/assets/css/vendor.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/vendor/icon-set/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/theme.min.css?v=1.0}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">

</head>

<body>
    <div th:replace="fragments/buildertoggle"></div>
    <div th:replace="fragments/headerMain"></div>
    <div id="headerFluid" class="d-none">
        <header id="header"
            class="navbar navbar-expand-xl navbar-fixed navbar-height navbar-flush navbar-container navbar-bordered">
            <div class="js-mega-menu navbar-nav-wrap">
                <div class="navbar-brand-wrapper">
                    <a class="navbar-brand" th:href="@{/}" aria-label="Front">
                        <img class="navbar-brand-logo" th:src="@{/svg/logos/logo.svg}" alt="Logo">
                    </a>
                </div>
            </div>
        </header>
    </div>
    <div id="headerDouble" class="d-none">
        <header id="header" class="navbar navbar-expand-lg navbar-bordered flex-lg-column px-0">
        </header>
    </div>
    <div th:replace="fragments/sidebarMain"></div>
    <div id="sidebarCompact" class="d-none">
        <aside
            class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered">
            <div class="navbar-vertical-container">
                <div class="navbar-vertical-content">
                </div>
            </div>
        </aside>
    </div>
    <div th:replace="fragments/searchDropdown"></div>
    <div id="content" role="main" class="main pointer-event">
        <div class="container-fluid">
            <div th:include="fragments/managerPage :: content"></div>
        </div>
        <div th:replace="fragments/manager/managerDetailsModal"></div>
        <div th:replace="fragments/manager/addManagerModal"></div>
        <div th:replace="fragments/manager/switchManagerModal"></div>
        <div th:replace="fragments/manager/editManagerModal"></div>
    </div>
    </div>

    <script th:src="@{/assets/js/demo.js}"></script>
    <script th:src="@{/assets/js/vendor.min.js}"></script>
    <script th:src="@{/assets/js/theme.min.js}"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


    <script>
        $(document).on('ready', function () {
            $('.js-navbar-vertical-aside-toggle-invoker').click(function () {
                $('.js-navbar-vertical-aside-toggle-invoker i').tooltip('hide');
            });
            var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
                desktop: {
                    position: 'left'
                }
            }).init();
            var sidebar = $('.js-navbar-vertical-aside').hsSideNav();
            $('.js-nav-tooltip-link').tooltip({ boundary: 'window' });
            $(".js-nav-tooltip-link").on("show.bs.tooltip", function (e) {
                if (!$("body").hasClass("navbar-vertical-aside-mini-mode")) {
                    return false;
                }
            });
        });
        $('.js-hs-unfold-invoker').each(function () {
            var unfold = new HSUnfold($(this)).init();
        });
    </script>

    <!-- <script th:src="@{/assets/js/userjs.js}"></script> -->
    <script th:src="@{/assets/js/manager.js}"></script>
    <script>
        $(document).ready(function () {
            var table = $('#modernTableMana').DataTable({
                dom: '<"row d-flex justify-content-between align-items-center"<"col-sm-6 d-flex align-items-center"f><"col-sm-6 d-flex justify-content-end"B>>' +
                    '<"row"<"col-sm-12"tr>>' +
                    '<"row d-flex justify-content-between align-items-center"<"col-sm-6"i><"col-sm-6 d-flex justify-content-end"p>>',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                paging: true,
                searching: true,
                ordering: true,
                order: [],
                pageLength: 5,
                columnDefs: [
                    {
                        targets: [6],
                        orderable: false
                    }
                ],
                language: {
                    search: "",
                    searchPlaceholder: "Tìm kiếm quản lý",
                    paginate: {
                        previous: "Trước",
                        next: "Tiếp theo",
                    },
                    emptyTable: "Không có dữ liệu trong bảng",
                    info: "Hiển thị từ _START_ đến _END_ của _TOTAL_ mục",
                    infoEmpty: "Không có dữ liệu",
                    infoFiltered: "(lọc từ _MAX_ mục)",
                    lengthMenu: "Hiển thị _MENU_ mục",
                }
            });

            $('#selectAll').on('click', function () {
                var rows = table.rows({ 'search': 'applied' }).nodes();
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });

        });
        document.getElementById("logoutLink").addEventListener("click", function () {
            window.location.replace("/web-server/login");
        });

    </script>

</body>

</html>