<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/assets/css/vendor.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/vendor/icon-set/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/theme.min.css?v=1.0}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
    <style>
        .table-responsive {
            display: block;
            width: 100%;
            overflow-x: auto;
            /* Cho phép cuộn ngang khi cần thiết */
            -webkit-overflow-scrolling: touch;
            /* Tạo hiệu ứng cuộn mượt trên thiết bị di động */
            margin-bottom: 15px;
            /* Thêm khoảng cách dưới để tránh bị dính vào phần tử dưới */
        }

        #modernTable1 {
            width: 100%;
            /* Đảm bảo bảng chiếm toàn bộ chiều rộng */

        }

        #modernTable1 th,
        #modernTable1 td {
            white-space: nowrap;
            /* Ngăn các ô trong bảng xuống hàng */
            overflow: hidden;
            /* Ẩn nội dung thừa nếu có */
            text-overflow: ellipsis;
            /* Thêm dấu ba chấm nếu nội dung bị cắt */
        }
    </style>

</head>

<body>
    <div th:replace="fragments/buildertoggle"></div>
    <div th:replace="fragments/headerMain"></div>
    <div id="headerFluid" class="d-none">
        <header id="header"
            class="navbar navbar-expand-xl navbar-fixed navbar-height navbar-flush navbar-container navbar-bordered  ">
            <div class="js-mega-menu navbar-nav-wrap">
                <div class="navbar-brand-wrapper">
                    <a class="navbar-brand" th:href="@{/}" aria-label="Front">
                        <img class="navbar-brand-logo" th:src="@{/assets/svg/logos/logo.svg}" alt="Logo">
                    </a>
                </div>
            </div>
        </header>
    </div>
    <div id="headerDouble" class="d-none">
        <header id="header" class="navbar navbar-expand-lg navbar-bordered flex-lg-column px-0">
        </header>
    </div>
    <div th:replace="fragments/sidebarMain"></div>
    <div id="sidebarCompact" class="d-none">
        <aside
            class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered  ">
            <div class="navbar-vertical-container">
                <div class="navbar-vertical-content">
                </div>
            </div>
        </aside>
    </div>
    <div th:replace="fragments/searchDropdown"></div>
    <div id="content" role="main" class="main pointer-event">
        <div class="container-fluid">

            <div class="card mt-3">
                <div class="card-header">
                    <h5 class="card-title">Bài viết</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="modernTable1" class="table-striped table-hover">
                            <thead class="table-white">
                                <tr>
                                    <th>#</th>
                                    <th>Nội dung</th>
                                    <th>Hashtag</th>
                                    <th>Vị trí</th>
                                    <th>Trạng thái</th>
                                    <th>Người dùng</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="post, iterStat : ${postList}">
                                    <td class="text-start" th:text="${iterStat.index + 1}">ID</td>
                                    <td class="text-start">
                                        <div class="row">
                                            <div class="d-flex align-items-center">
                                                <img th:if="${post.mediaUrls != null and post.mediaUrls.size() > 0}"
                                                    th:src="${post.mediaUrls[0].mediaUrl}" alt="Content Image"
                                                    class="img-fluid"
                                                    style="max-width: 70px; height: auto; margin-right: 10px;"
                                                    onerror="this.onerror=null; this.src='/assets/img/anhload.jpg';">
                                                <a href="#" data-toggle="modal"
                                                    th:onclick="'loadPostDetails(' + ${post.postId} + ')'"
                                                    data-target="#postDetailModal"
                                                    class="text-body text-decoration-none">
                                                    <span th:text="${post.postContent}"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-start">
                                        <span th:if="${post.hashtags != null}">
                                            <span th:each="hashtag : ${post.hashtags}" th:text="'#' + ${hashtag}">No
                                                Hashtags</span>
                                        </span>
                                        <span th:if="${post.hashtags == null}">No Hashtags</span>
                                    </td>
                                    <td class="text-start" th:text="${post.location}">Location</td>
                                    <td class="text-start" th:text="${post.status}">Status</td>
                                    <td class="text-start" th:text="${post.ownerName}">User</td>
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center align-items-center"
                                            style="gap: 5px; flex-wrap: nowrap;">
                                            <button class="btn btn-sm btn-outline-danger mr-2" id="deletePost"
                                                th:attr="data-id=${post.postId}">
                                                <i class="tio-delete-outlined mr-1"></i>Xóa
                                            </button>
                                            <button class="btn btn-sm btn-outline-secondary mr-2 viewComments"
                                                th:attr="data-id=${post.postId}">
                                                Xem Bình Luận
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <div th:replace="fragments/posts/postDetailModal"></div>
            <div th:replace="fragments/posts/addPostModal"></div>
            <div th:replace="fragments/posts/deletePostModal"></div>
            <div th:replace="fragments/posts/viewCommentModal"></div>
        </div>
    </div>

    <script th:src="@{/assets/js/demo.js}"></script>
    <script th:src="@{/assets/js/vendor.min.js}"></script>
    <script th:src="@{/assets/js/theme.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script th:src="@{/assets/js/post.js}"></script>
    <script>
        $(document).on('ready', function () {
            $('.js-navbar-vertical-aside-toggle-invoker').click(function () {
                $('.js-navbar-vertical-aside-toggle-invoker i').tooltip('hide');
            });
            var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
                desktop: {
                    position: 'left'
                }
            }).init();
            var sidebar = $('.js-navbar-vertical-aside').hsSideNav();
            $('.js-nav-tooltip-link').tooltip({ boundary: 'window' });
            $(".js-nav-tooltip-link").on("show.bs.tooltip", function (e) {
                if (!$("body").hasClass("navbar-vertical-aside-mini-mode")) {
                    return false;
                }
            });
        });
        $('.js-hs-unfold-invoker').each(function () {
            var unfold = new HSUnfold($(this)).init();
        });


    </script>
    <script th:src="@{/assets/js/userjs.js}"></script>
    <script>
        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="./assets/vendor/babel-polyfill/polyfill.min.js"><\/script>');

    </script>
</body>

</html>