<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/assets/css/vendor.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/vendor/icon-set/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/theme.min.css?v=1.0}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
</head>

<body>
    <div th:replace="fragments/headerMain"></div>
    <div id="headerFluid" class="d-none">
        <header id="header"
            class="navbar navbar-expand-xl navbar-fixed navbar-height navbar-flush navbar-container navbar-bordered">
            <div class="js-mega-menu navbar-nav-wrap">
                <div class="navbar-brand-wrapper">
                    <a class="navbar-brand" th:href="@{/}" aria-label="Front">
                        <img class="navbar-brand-logo" th:src="@{/svg/logos/logo.svg}" alt="Logo">
                    </a>
                </div>
            </div>
        </header>
    </div>
    <div id="headerDouble" class="d-none">
        <header id="header" class="navbar navbar-expand-lg navbar-bordered flex-lg-column px-0">
        </header>
    </div>
    <div th:replace="fragments/sidebarMain"></div>
    <div id="sidebarCompact" class="d-none">
        <aside
            class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered">
            <div class="navbar-vertical-container">
                <div class="navbar-vertical-content">
                </div>
            </div>
        </aside>
    </div>
    <div th:replace="fragments/searchDropdown"></div>
    <div id="content" role="main" class="main pointer-event">
        <div class="container mt-5">
            <div class="card mt-2">
                <div class="card-header">
                    <h5 class="card-title">Story Management</h5>
                    <button class="btn btn-primary float-right" data-toggle="modal" data-target="#addStoryModal"
                        id="addStory">
                        <i class="tio-user-add mr-1"></i>Add Story
                    </button>
                </div>
                <div class="card-body">
                    <table id="modernTable2" class="table-striped table-hover">
                        <thead class="table-white">
                            <tr>
                                <th>#</th>
                                <th style="min-width: 200px;">Content</th>
                                <th>Media</th>
                                <th>Created Time</th>
                                <th>Status</th>
                                <th>User</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="story : ${storyList}">
                                <td class="text-start" th:text="${story.storyId}">ID</td>
                                <td class="text-start">
                                    <a href="#" data-toggle="modal"
                                        th:onclick="'loadStoryDetails(' + ${story.storyId} + ')'"
                                        data-target="#storyDetailModal" class="text-body text-decoration-none">
                                        <span th:text="${story.content}"></span>
                                    </a>
                                </td>
                                <td class="text-start">
                                    <img th:if="${story.mediaUrl != null}" th:src="${story.mediaUrl}" alt="Story Media"
                                        class="img-fluid" style="max-width: 70px; height: auto; margin-right: 10px;">
                                </td>
                                <td class="text-start" th:text="${story.create_time}">Created Time</td>
                                <td class="text-start" th:text="${story.status}">Status</td>
                                <td class="text-start d-flex align-items-center">
                                    <img th:src="${story.avatar ?: '/assets/img/avatar.jpg'}" alt="Avatar"
                                        class="rounded-circle mr-2" style="width: 40px; height: 40px;">
                                    <span th:text="${story.fullname}">User</span>
                                </td>
                                <td class="text-center">
                                    <div class="d-flex">
                                        <button class="btn btn-sm btn-white mr-2" id="editStory"
                                            th:attr="data-id=${story.storyId}">
                                            <i class="tio-edit mr-1"></i>Edit
                                        </button>
                                        <button class="btn btn-sm btn-danger" id="deleteStory"
                                            th:attr="data-id=${story.storyId}">
                                            <i class="tio-delete-outlined mr-1"></i>Delete
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/assets/js/demo.js}"></script>
    <script th:src="@{/assets/js/vendor.min.js}"></script>
    <script th:src="@{/assets/js/theme.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script>
        $(document).on('ready', function () {
            $('.js-navbar-vertical-aside-toggle-invoker').click(function () {
                $('.js-navbar-vertical-aside-toggle-invoker i').tooltip('hide');
            });
            var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
                desktop: {
                    position: 'left'
                }
            }).init();
            var sidebar = $('.js-navbar-vertical-aside').hsSideNav();
            $('.js-nav-tooltip-link').tooltip({ boundary: 'window' });
            $(".js-nav-tooltip-link").on("show.bs.tooltip", function (e) {
                if (!$("body").hasClass("navbar-vertical-aside-mini-mode")) {
                    return false;
                }
            });
        });
        $(document).ready(function () {
            var table = $('#modernTable2').DataTable({
                dom: '<"row d-flex justify-content-between align-items-center"<"col-sm-6 d-flex align-items-center"f><"col-sm-6 d-flex justify-content-end"B>>' +
                    '<"row"<"col-sm-12"tr>>' +
                    '<"row d-flex justify-content-between align-items-center"<"col-sm-6"i><"col-sm-6 d-flex justify-content-end"p>>',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                paging: true,
                searching: true,
                ordering: true,
                order: [],
                pageLength: 5,
                columnDefs: [
                    {
                        targets: [6],
                        orderable: false
                    }
                ],
                language: {
                    search: "",
                    searchPlaceholder: "Search posts",
                    paginate: {
                        previous: "Prev",
                    },

                }
            });

            $('#selectAll').on('click', function () {
                var rows = table.rows({ 'search': 'applied' }).nodes();
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });

            $('#modernTable2 tbody').on('change', 'input[type="checkbox"]', function () {
                if (!this.checked) {
                    var el = $('#selectAll').get(0);
                    if (el && el.checked) {
                        el.indeterminate = true;
                    }
                }
            });
        });
    </script>

</body>

</html>