<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="addUserModalTitle" class="modal-title">Add New User</h4>

                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <div class="modal-body nav-mobile-mode-on">
                <form id="addUserForm">
                    <div class="row form-group">
                        <label for="userFullName" class="col-sm-3 col-form-label input-label">Full Name</label>
                        <div class="col-sm-9">
                            <div class="js-form-message">
                                <input type="text" class="form-control" name="userFullName" id="userFullName" placeholder="Enter Full Name" required>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="userEmail" class="col-sm-3 col-form-label input-label">Email</label>
                        <div class="col-sm-9">
                            <div class="js-form-message">
                                <input type="email" class="form-control" name="userEmail" id="userEmail" placeholder="Enter Email" required>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="userPhone" class="col-sm-3 col-form-label input-label">Phone Number</label>
                        <div class="col-sm-9">
                            <div class="js-form-message">
                                <input type="tel" class="form-control" name="userPhone" id="userPhone" placeholder="Enter Phone Number" required
                                       pattern="^(\\+84|84|0)(3|5|7|8|9|1[2689])[0-9]{8}$" aria-label="Phone Number">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="userBirthDay" class="col-sm-3 col-form-label input-label">Birthday</label>
                        <div class="col-sm-9">
                            <div class="js-form-message">
                                <input type="date" class="form-control" name="userBirthDay" id="userBirthDay" placeholder="Enter BirthDay" aria-label="BirthDay">
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-white mr-2" data-dismiss="modal" aria-label="Close">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="submitAddUserForm">Add User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
