<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addManagerModalTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="addManagerModalTitle" class="modal-title">Thêm Người Dùng Mới</h4>
                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-bs-dismiss="modal" aria-label="Đóng">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <div class="modal-body">
                <!-- Họ và Tên -->
                <div class="row form-group">
                    <label for="managerFullName" class="col-sm-3 col-form-label input-label">Họ và Tên</label>
                    <div class="col-sm-9">
                        <div class="js-form-message">
                            <input type="text" class="form-control" name="managerFullName" id="managerFullName" placeholder="Nhập Họ và Tên" required>
                        </div>
                    </div>
                </div>

                <!-- Email -->
                <div class="row form-group">
                    <label for="managerEmail" class="col-sm-3 col-form-label input-label">Email</label>
                    <div class="col-sm-9">
                        <div class="js-form-message">
                            <input type="email" class="form-control" name="managerEmail" id="managerEmail" placeholder="Nhập Email" required>
                        </div>
                    </div>
                </div>

                <!-- Số Điện Thoại -->
                <div class="row form-group">
                    <label for="managerPhone" class="col-sm-3 col-form-label input-label">Số Điện Thoại</label>
                    <div class="col-sm-9">
                        <div class="js-form-message">
                            <input type="tel" class="form-control" name="managerPhone" id="managerPhone" placeholder="Nhập Số Điện Thoại" required
                                pattern="^(\\+84|84|0)(3|5|7|8|9|1[2689])[0-9]{8}$" aria-label="Số Điện Thoại">
                        </div>
                    </div>
                </div>

                <!-- Mật Khẩu -->
                <div class="row form-group">
                    <label for="managerPassword" class="col-sm-3 col-form-label input-label">Mật Khẩu</label>
                    <div class="col-sm-9">
                        <div class="js-form-message">
                            <input type="password" class="form-control" name="managerPassword" id="managerPassword" placeholder="Nhập Mật Khẩu" required>
                        </div>
                    </div>
                </div>

                <!-- Nút -->
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-white mr-2" data-bs-dismiss="modal" aria-label="Đóng">Hủy</button>
                    <button type="button" class="btn btn-primary" id="submitAddUserButton">Thêm</button>
                </div>
            </div>
        </div>
    </div>
</div>
