<div class="modal fade" id="lockUserModal" tabindex="-1" aria-labelledby="lockUserModalTitle" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="lockUserModalTitle" class="modal-title">Xác Nhận Khóa Người Dùng</h5>
                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal"
                    aria-label="Close">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn khóa người dùng này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="openAccount" disabled>OPEN</button>
                <button type="button" id="confirmLock" class="btn btn-danger" disabled>LOCK</button>

            </div>
        </div>
    </div>
</div>