<div class="modal fade" id="reviewDetailModal" tabindex="-1" aria-labelledby="reviewDetailModalTitle"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="reviewDetailModalTitle" class="modal-title">Review Details</h4>
                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal"
                    aria-label="Close">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-content" id="reviewDetailModalTabContent">
                    <div class="tab-pane fade active show" id="details" role="tabpanel" aria-labelledby="details-tab">
                        <!-- Media Section -->
                        <div class="media-container text-center mb-5">
                            <img id="reviewMediaImg" class="img-fluid rounded" src="assets/img/default-image.jpg"
                                alt="Review Media" style="width: 200px; height: auto;">
                        </div>

                        <!-- User Name -->
                        <div class="row form-group">
                            <label for="reviewUserName" class="col-sm-3 col-form-label input-label">User Name</label>
                            <div class="col-sm-9">
                                <span id="reviewUserName" class="form-control-plaintext">ADMIN</span>
                            </div>
                        </div>

                        <!-- Location -->
                        <div class="row form-group">
                            <label for="reviewLocation" class="col-sm-3 col-form-label input-label">Location</label>
                            <div class="col-sm-9">
                                <span id="reviewLocation" class="form-control-plaintext">Tân tiến , vĩnh tường , vĩnh
                                    phúc</span>
                            </div>
                        </div>

                        <!-- Review Content -->
                        <div class="row form-group">
                            <label for="reviewContent" class="col-sm-3 col-form-label input-label">Review
                                Content</label>
                            <div class="col-sm-9">
                                <span id="reviewContent" class="form-control-plaintext">rat dep</span>
                            </div>
                        </div>

                        <!-- Rating -->
                        <div class="row form-group">
                            <label for="reviewRating" class="col-sm-3 col-form-label input-label">Rating</label>
                            <div class="col-sm-9">
                                <span id="reviewRating" class="form-control-plaintext">5.0</span>
                            </div>
                        </div>

                        <!-- Create Time -->
                        <div class="row form-group">
                            <label for="reviewCreateTime" class="col-sm-3 col-form-label input-label">Created
                                Time</label>
                            <div class="col-sm-9">
                                <span id="reviewCreateTime" class="form-control-plaintext">2024-12-15 11:09:33</span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary mr-2" data-dismiss="modal"
                                aria-label="Close">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>