<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    
</head>

<body th:fragment="content">
    <div class="card mt-4">
        <div class="card-header">
            <h5 class="card-title">Quản lý managers</h5>
            <button class="btn btn-primary float-right" id="addManager">
                <i class="tio-user-add mr-1"></i>Thêm quản lý
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="modernTableMana" class="table align-middle mb-0 bg-white">
                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>Họ và Tên</th>
                            <th>Số điện thoại</th>
                            <th>Vai trò</th>
                            <th>Trạng thái</th>
                            <th>Ngày tham gia</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="manager, iterStat : ${managers}">
                            <td class="text-start" th:text="${iterStat.count}">#</td>

                            <td class="table-column-pl-0">
                                <a class="d-flex align-items-center"
                                    th:onclick="'loadUserDetails(' + ${manager.id} + ')'">
                                    <div id="avatar-container" class="avatar avatar-circle"
                                        style="width: 40px; height: 40px;">
                                        <img th:if="${manager.avatarUrl != null && !manager.avatarUrl.isEmpty()}"
                                            th:src="${manager.avatarUrl}" alt="Avatar" class="rounded-circle"
                                            style="width: 40px; height: 40px; object-fit: cover;border-radius: 50%;">
                                        <div th:if="${manager.avatarUrl == null || manager.avatarUrl.isEmpty()}"
                                            class="avatar-text"
                                            style="background-color: #f0f0f0; color: #555; display: flex; justify-content: center; align-items: center;
                                                    width: 40px; height: 40px; font-size: 16px; font-weight: bold; border-radius: 50%;">
                                            <span
                                                th:text="${manager.fullname != null ? manager.fullname.substring(0,1).toUpperCase() : 'N'}"></span>
                                        </div>
                                    </div>
                                    <div class="ml-3">
                                        <span class="d-block h5 text-hover-primary mb-0"
                                            th:text="${manager.fullname}">John Doe</span>
                                        <span class="d-block font-size-sm text-body"
                                            th:text="${manager.email}">john.doe@gmail.com</span>
                                    </div>
                                </a>
                            </td>

                            <td class="text-start">
                                <span th:if="${manager.phoneNumber != null}"
                                    th:text="${manager.phoneNumber}">Phone</span>
                                <span th:unless="${manager.phoneNumber != null}"
                                    th:text="'No phone number'">Phone</span>
                            </td>

                            <td class="text-start" th:text="${manager.roles.iterator().next()}">Employee</td>

                            <td class="text-start">
                                <span th:text="${manager.isLocked}">Status</span>
                            </td>

                            <td class="text-start">
                                <span th:text="'Joined ' + ${manager.create_at.toString().substring(0, 4)}">Joined
                                    Date</span>
                            </td>

                            <td>
                                <button class="btn btn-sm btn-outline-primary" th:attr="data-id=${manager.id}"
                                    id="editManager">
                                    <i class="tio-edit"></i> Chỉnh sửa
                                </button>
                                <button class="btn btn-sm btn-outline-success" th:attr="data-id=${manager.id}">
                                    <i class="tio-users-switch mr-1"></i> Đổi trạng thái
                                </button>
                                <button class="btn btn-sm btn-outline-danger" th:attr="data-id=${manager.id}"
                                    id="deleteManager">
                                    <i class="tio-delete"></i> Xóa
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>