<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationModalLabel"></h5>
                <button type="button" class="btn btn-xs btn-icon btn-ghost-secondary" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <div class="modal-body" id="notificationModalBody">
                <!-- Nội dung thông báo lỗi sẽ được hiển thị ở đây -->
            </div>

        </div>
    </div>
</div>
<style>
    .modal-success .modal-content {
        background-color: #d4edda;
        color: #155724;
    }

    .modal-info .modal-content {
        background-color: #d1ecf1;
        color: #0c5460;
    }

    .modal-warning .modal-content {
        background-color: #fff3cd;
        color: #856404;
    }

    .modal-danger .modal-content {
        background-color: #f8d7da;
        color: #721c24;
    }
</style>