<div class="modal fade" id="storyDetailModal" tabindex="-1" aria-labelledby="storyDetailModalTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="storyDetailModalTitle" class="modal-title">Story Details</h4>
                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-content" id="storyDetailModalTabContent">
                    <div class="tab-pane fade active show" id="details" role="tabpanel" aria-labelledby="details-tab">
                        <!-- Media Section -->
                        <div class="media-container text-center mb-5">
                            <img id="storyMediaImgModal" class="img-fluid rounded" src="https://travle-be.s3.ap-southeast-2.amazonaws.com/star.png" alt="Story Media" style="width: 200px; height: auto;">
                        </div>

                        <!-- Content -->
                        <div class="row form-group">
                            <label for="storyContentDetails" class="col-sm-3 col-form-label input-label">Content</label>
                            <div class="col-sm-9">
                                <div class="js-form-message">
                                    <div id="storyContentDetails" class="form-control" readonly>Chinh dep trai top 1</div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group" id="musicDetail">
                            <label for="storyMusicDetails" class="col-sm-3 col-form-label input-label">Music</label>
                            <div class="col-sm-9">
                                <div class="js-form-message">
                                    <audio controls class="w-100" id="storyMusicDetails">
                                        <source src="" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <span id="noMusicMessage" style="display:none; color: grey;">No music available</span>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="storyCreatedTimeDetails" class="col-sm-3 col-form-label input-label">Created Time</label>
                            <div class="col-sm-9">
                                <div class="js-form-message">
                                    <div id="storyCreatedTimeDetails" class="form-control" readonly>2024-12-03 21:26:40.955</div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="storyHashtagDetails" class="col-sm-3 col-form-label input-label">Hashtag</label>
                            <div class="col-sm-9">
                                <div class="js-form-message">
                                    <div id="storyHashtagDetails" class="form-control" readonly>#123</div>
                                </div>
                            </div>
                        </div>

                        <!-- Status -->
                        <div class="row form-group">
                            <label for="storyStatusDetails" class="col-sm-3 col-form-label input-label">Status</label>
                            <div class="col-sm-9">
                                <div class="js-form-message">
                                    <div id="storyStatusDetails" class="form-control" readonly>PUBLIC</div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary mr-2" data-dismiss="modal" aria-label="Close">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
