<div class="modal fade" id="viewTravelPlansModal" tabindex="-1" aria-labelledby="viewTravelPlansModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="viewTravelPlansModalLabel" class="modal-title">Travel Plans</h4>
                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal"
                    aria-label="Close">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <thead>
                            <tr>
                                <th style="width: 600px">Plan Name</th>
                                <th style="width: 20%;">Admin Name</th>
                                <th style="width: 200px;">Start Date</th>
                                <th style="width: 200px;">End Date</th>
                                <th style="width: 100px;">Status</th>
                            </tr>
                        </thead>

                    </thead>
                    <tbody id="plansList">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>