<div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="deleteCommentModalTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="deleteCommentModalTitle" class="modal-title">Xác Nhận Xóa Bình Luận</h5>
                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal" aria-label="Đóng">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa bình luận này không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Đóng">Hủy</button>
                <button type="button" id="confirmDeleteComment" class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>
